body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #403833;
}

#hero{
	background: #76a138 url('../images/hero-bg.png');
}

.brand{
	margin:30px auto;
}

h1{
	text-align: center;
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	line-height: 46px;
	margin: 45px 0;
}

h3{
	font-size: 21px;
	font-weight: bold;
}

.hero-form{
	background: #fff;
	margin-bottom: 70px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.hero-form .major-content{
	background: #fcf4a0;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    min-height: 385px;
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #fcf4a0 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#fcf4a0 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#fcf4a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcf4a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.hero-form .major-content > img{
	margin: 45px 0;
	display: inline-block;
}

.hero-form .register-form{
	padding-left: 30px;
	padding-right: 30px;
}

.hero-form .register-form form{
	margin: 15px 0 0;
}
.hero-form .register-form form .form-group label{
	font-size: 14px;
	font-weight: 100;
}
.hero-form .register-form form .form-group .text-danger{
	font-size: 16px;
}
.form-control{
	height: 45px;
}
.form-control:focus{
	border: 1px solid #f34562;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243,69,98,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(243,69,98,.6);
}
.hero-form .register-form form .btn-container{
	margin: 0 0 -95px 0;
}
.btn{
	border-radius: 50em;
	-webkit-border-radius: 50em;
}
.btn-primary{
	font-weight: bold;
	text-transform: uppercase;
	background: #894098;
	border: none;
}
.btn-large{
	padding: 15px;
    font-size: 20px;
}
.hero-form .register-form form .btn-container .btn-primary{
    
    box-shadow: inset 0 -6px 0px rgba(0,0,0,.15);
    -webkit-box-shadow: inset 0 -6px 0px rgba(0,0,0,.15);
    border: 10px solid #fff;
    border-radius: 15px;
    margin-left: -10px;
    width: 103%;
    margin-bottom: 3px;
}
.hero-form .register-form form .btn-container .text-muted{
    font-size: 12px;
    color: #fff;
    line-height: 13px;
    display: inline-block;
}
.hero-form .register-form form .btn-container .text-muted a{
    font-weight: bold;
    color: #fff;
}

.help-content{
	color: #8a9098;
	font-size: 14px;
}

.help-content .text-danger{
	font-size: 24px;
	line-height: 18px;
}

.text-danger{
	color: #f34562;
}

::selection{
	background: #f34562;
	color: #fff;
}

#howitworks{
	padding: 45px;
}

#howitworks p{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 40px;
}
#howitworks p .title{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #f34562;
	display: block;
}
#howitworks p .big-text{
	font-size: 28px;
	font-weight: bold;
	line-height: 28px;
	display: block;
}

h6{
	color: #894098;
	font-size: 14px;
	font-weight: bold;
	border-bottom:1px solid #894098;
	display: inline-block;
	margin-bottom: 30px;
	padding-bottom: 3px;
}

footer{
	text-align: center;
    font-size: 12px;
    padding: 30px;
    border-top: 1px solid #eaeaea;
    color: #c5c5c5;
}

#thankyou_message{
	padding: 0 0 0 15px;
}

#thankyou_message p{
	margin: 0 0 15px;
}

#prize{
	padding: 45px 0 0;
}

#prize img{
	display: block;
	margin: 0 auto 15px;
}
#prize span{
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	color: #894098;
}
#prize h2{
	font-size: 35px;
	font-weight: 900;
	margin: 0;
	color: #77a23a;
}

#prize .col-md-4{
	margin-bottom: 30px;
}

#prize .first h2{
	font-size: 45px;
	color: #f34562;
}
#prize .first img{
	margin: 0 auto;
}
#prize .second img{
	margin-top: 24px;
}
#prize .third img{
	margin-top: 30px;
}

#prize hr{
	display: inline-block;
	width: 100%;
	margin: 15px 0 0;
	border-top: 1px solid #894098;
}

#email-invalid{
	display: none;
}

#referral .ref-content{
	margin-bottom: 50px;
}

#referral .ref-content, .referral-content{
	background: #894098;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 30px;
    margin-top: 15px;
}

#referral .ref-content .text, .referral-content{
	color:#fff;
	font-size: 16px;
	line-height: 18px;
	text-align: left;
}

#referral .ref-content img{
	margin-bottom: 25px;
}

#referral .ref-content .text h2, .referral-content h2{
	color:#ffc73a;
	font-size: 25px;
	line-height: 24px;
	font-weight: 900;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	margin: 0;
}

#referral .ref-content .text .help-text{
	font-size: 13px;
	font-style: italic;
    display: inline-block;
    width: 100%;
    margin: 10px 0 20px;
}
#referral .ref-content .text .help-text strong{
	color:#ffc73a;
}

.referral-content a{
	color:#ffc73a;
	display: inline-block;
}

.btn-default{
	background: none;
	border: 2px solid #ffc73a;
	text-decoration: none;
	color: #ffc73a;
	margin: 10px 10px 0 0;
}
.btn-default:hover, .btn-default.active{
	background: #ffc73a;
	color: #403833;
	border: 2px solid #ffc73a;
}
.btn-default:hover a, .btn-default:focus a{
	color: #403833;
}
.btn-default a{
	margin: 0;
	color: #ffc73a;
	text-decoration: none;
}

.lottery-numbers{
	display: inline-block;
	width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.lottery-numbers button{
	margin: 1%;
	min-width: 8%;
	float: left;
}

.lottery-selected-num{
	font-size: 30px;
    font-weight: bold;
}
.lottery-selected-num span{
    color: #f34562;
    margin: 0 10px 0;
}


@media (min-width: 992px){
	.hero-form .register-form form .btn-container .btn-primary{
		width: 107%;
	}
}